<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
HOME
  <div>
        <nav class='navbar navbar-primary'>
            <div class='container-fluid'>
                <a class='navbar-brand'>{{pageTitle}}</a>
                <ul class='nav navbar-nav'> 
                
                 <nav-bar></nav-bar>
 				<router-outlet></router-outlet>
                
                    
                   <!--  <li><a>Settings</a></li> -->
                </ul>
            </div>
        </nav>
        
     <!--    <router-outlet></router-outlet> -->
    <!--    <emp-list></emp-list> -->
       </div>

       
</body>
</html>